/*----------------------------------------------------------
--------- Small devices to Extra large BREAKPOINTS ---------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1{
        font-size:3rem;
        letter-spacing: 0.3rem;
    }
    h2{
        font-size:2rem;
        letter-spacing: 0.3rem;
    }
    .modal-content{
        width: 80%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    .titre-fond{
        font-size:5rem;
    }
    .fond-fixe .mobile{
        display:none;
    }
    .fond-fixe .desktop{
        display:block;
    }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1{
        font-size:4rem;
        letter-spacing: 0.5rem;
    }

    h2{
        font-size:3rem;
        letter-spacing: 0.5rem;
    }

    .titre-fond{
        font-size:7rem;
    }
}
/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
      
    #presentation,
    #competences,
    #realisations{
        min-height:100vh;
    }

    #competences .conteneur-flex{
        flex-wrap: nowrap;
    }

    .titre-fond{
        font-size:8rem;
    }

    h3{
        margin-bottom:100px;
    }
    .conteneur-tab{
        margin-bottom:50px;
    }

    .modal-content{
        width: 50%;
    }
}

/*  Extra + large devices (large desktops, 1440px and up) */
@media (min-width: 1440px){
    
    .titre-fond{
        font-size:12rem;
    }

    h1{
        font-size:5rem;
    }

    h2{
        font-size:4rem;
    }
}


/*----------------------------------------------------------
--------- Extra large to Small devices BREAKPOINTS ---------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1{
        font-size:2rem;
        letter-spacing: 0.1rem;
    }
    h2{
        font-size:1.7rem;
        letter-spacing: 0.1rem;
    }
    h3{
        font-size:1.9rem;
    }
    .barre-ext{
        width: 150px;
    }
    .modal-content{
        width: 100%;
    }

    .wrapper-thumbnail{
        margin-bottom:10px;
    }

    .bounce{
        margin-top:20px;
    }

}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    blockquote::before{
        display:none;
    }

    blockquote::after{
        display:none;
    }

    blockquote{
        margin:0;
        line-height: 1.7rem;
    }

    .titre-fond{
        font-size:8rem;
    }
    .fond-fixe .mobile{
        display:block;
    }
    .fond-fixe .desktop{
        display:none;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #competences .wrapper-tab::before{
        background-image: url('../images/tap.png');
        background-size: 70px 70px;
        position:absolute;
        right: 100px;
        top:60px;
        width: 70px; 
        height: 70px;
        content:"";
        opacity:0.05;
    }

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    h3{
        margin-bottom:50px;
    }
    #competences .conteneur-flex{
        flex-wrap: wrap;
    }
    #competences.conteneur{
        max-width:600px;
    }
}
/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

/*----------------------------------------------------------
---------------- Device specific BREAKPOINTS ---------------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*----------------------------------------------------------
------------------------- Start here -----------------------
----------------------------------------------------------*/
/*Small devices to Extra large BREAKPOINTS*/
@media (min-width: 576px) {
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
/* Extra large to Small devices BREAKPOINTS*/
@media (max-width: 575.98px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 991.98px) {
 
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

/* Device specific BREAKPOINTS */
@media (min-width: 576px) and (max-width: 767.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {

}
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) {

}