/*----------------------------------------------------------
--------- Small devices to Extra large BREAKPOINTS ---------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*----------------------------------------------------------
--------- Extra large to Small devices BREAKPOINTS ---------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

/*----------------------------------------------------------
---------------- Device specific BREAKPOINTS ---------------
----------------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*----------------------------------------------------------
------------------------- Start here -----------------------
----------------------------------------------------------*/
/*Small devices to Extra large BREAKPOINTS*/
@media (min-width: 576px) {
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .addtoany_share_save_container, 
    .addtoany_content,
    .addtoany_content_bottom{
        display:none;
    }
}
@media (min-width: 1200px) {
    /* menu footer */

    #footer nav ul{
        max-width: 1200px;
        margin:0 auto;
    }
    #footer nav li{
        border-right:1px solid #fff;
    }
    
    #footer nav li:last-child{
        border-right:none;
    }
}
/* Extra large to Small devices BREAKPOINTS*/
@media (max-width: 575.98px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 991.98px) {
 
}
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .search{
        margin-top:1rem;
    }
    /*header #search-results{
        margin-top: 90px;
    }
    header form.search{
        margin-top: 90px;
        width: 100%;
    }*/
}
/* Device specific BREAKPOINTS */
@media (min-width: 576px) and (max-width: 767.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {

}
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) {

}

/* Exceptions */
@media (min-width: 992px) and (max-width: 1660px){
    /*header form.search{
        width: 45%;
        margin: auto;
    }*/
}

@media (max-width:1500px){
	.newsletter-wrapper{
		display:none;
	}
}

/* menu responsive */
@media (max-height: 749px) and (max-width: 991px){
    /*header button.menu-link {
        position: absolute;
        left: 25px;
        top: 25px;
    }*/
}

@media (max-height: 749px) and (max-width: 991px){
    body.js header nav[role=navigation].active{
        width: 100%;
        height: 100%;
        display: block;
    }
}