/*
	Feuille de style  - thème portfolio
	Auteur: MJHeck
	Date : décembre 2018
*/

/*reset*/
html, body, button, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, a blockquote, address, time, span, em, form, select, strong, img, ol, ul, li, figure, figcaption, canvas, video, th, td, tr{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/* Général */

* {
	box-sizing: border-box;
  }
  html {
	scroll-behavior: smooth;
  }
a{
	white-space:nowrap;
	text-decoration:none;
}

body{
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Cutive Mono', monospace; */
	font-size:1rem;
	color:#202020;
}

h1{
	white-space: nowrap;
	color:white;
	margin-bottom:20px;
	font-family: 'Raleway', sans-serif; 
}

h2{
	white-space: nowrap;
	font-size:3rem;
	color:#d87c7c;
	font-family: 'Raleway', sans-serif; 
}

h3{
	text-align: center;
	font-size:3rem;
	letter-spacing: .8rem;
	font-family: 'Raleway', sans-serif; 
}

h4{
	font-size:2.5rem;
	color:#d87c7c;
	padding:5px 0px;
	font-family: 'Raleway', sans-serif;
}

h5{
	font-size: 1.2rem;
	color:#7a7a7a;
	font-weight: 500;
	border-bottom:1px solid #dbdbdb;
	padding-bottom:10px;
	font-family: 'Raleway', sans-serif;
}

h5 + p{
	padding-top:10px;
}

hr{
	color:#ececec;
}

li{
	list-style-type: none;
}

table{
	border-collapse: collapse;
}

p{
	padding-bottom:18px;
}

/* Général ajouts*/
.conteneur{
	max-width:1440px;
	padding:50px 10px;
	margin:0 auto;
}

.conteneur-flex{
	margin:0 auto;
	display: flex;
}

/* Barre de navigation */
nav{
	padding:5px 10px;
	background-color:white;
	color:#202020;
}

nav ul{
	display:flex;
	justify-content:flex-end;
	align-items: center;
}

nav ul li:first-child{
	margin-right:auto;
	padding-left:0;
	height:28px;
}

nav ul li{
	padding-left: 14px;
}

nav a{
	display:block;
	position:relative;
}

nav a:not(.social),
nav a:not(.social):visited{
	color:#202020;
	padding:10px 0;
}

nav a:not(.social):before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #202020;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  
nav a:not(.social):hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

/* header */
.titre{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Bloc de citation */
blockquote{
	position:relative;
	line-height: 2rem;
	margin:0 20%;
}

blockquote::before{
	background-image: url('../images/left-quote.png');
	background-size: 50px 50px;
	position:absolute;
	top:0;
	left:-70px;
    width: 50px; 
    height: 50px;
	content:"";
	opacity:0.2;
}

blockquote::after{
	background-image: url('../images/right-quote.png');
	background-size: 50px 50px;
	position:absolute;
	bottom:0;
	right:-60px;
    width: 50px; 
    height: 50px;
	content:"";
	opacity:0.2;
}

blockquote ~ div{
	margin-top:50px;
	text-align: center;
}

#presentation,
#competences,
#realisations {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

/* parallax */
.parallax-window {
    min-height: 80vh;
}

/* Section competences */
#competences .conteneur-flex{
	width:100%;
	display:flex;
	align-items: flex-start;
	justify-content: center;
}

#competences .conteneur-tab{
	margin-bottom:50px;
}

#competences img{
	opacity:0.9;
	width:80px;
}

#competences .wrapper-tab{
	max-width:400px;
	width:100%;
	margin:10px;
}

#competences table{
	width:100%;
}

#competences td{
	vertical-align:middle;
	padding:10px 0;
}

.matiere{
	width:40%;
}

#competences tr td:first-child{
	text-align: right;
	padding-right: 10px;
}

#competences th{
	text-align: center;
	font-weight: 500;
	font-size:1.3rem;
	padding-bottom:15px;
	border-bottom: 0.5px rgb(199, 199, 199) solid;
}

/* barres animées compétences */
.barre-ext{
	width: 170px;
	height: 20px;
	position:relative;
}

.barre-ext span{
	position:absolute;
	text-align:right;
	opacity:0;
	transition:0.7s ease-out;
	font-weight:700;
}

.barre-int{
	height: 20px;
	position:absolute;
	top:0;
	left:0;
	width:20px;
	transition:1s ease-out;
} 

.barre-tab-un{
	background-color: #d87c7c;
}
.barre-tab-deux{
	background-color: rgb(180, 180, 180);
}
.barre-tab-trois{
	background-color: #202020;
}


/* boites info */
.boite{
	max-width:400px;
	width:100%;
	font-weight: 500;
	color:#414141;
	margin:10px;
	box-shadow:2px 2px 10px silver;
	font-size:1.1rem;
	text-align: center;
	padding:30px 0;
}

.boite img{
	width:100px;
}

.boite ul{
	margin-top: 20px;
}

.boite li{
	line-height:30px;
}


/* Section réalisations */

#realisations{
	background-color: #202020;
	color:white;
}

#realisations .conteneur-flex{
	justify-content: center;
	flex-wrap: wrap;
}

/* Thumbnails projets*/

.wrapper-thumbnail{
	max-width:360px;
	width:100%;
	margin:5px;
}

.thumbnail {
	position: relative;
	width: 100%;
	cursor: pointer;
}

.dessus {
	width:100%;
	height:auto;
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.dessous {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.thumbnail:hover .dessus {
	opacity: 0.2;
}
  
.thumbnail:hover .dessous {
	opacity: 1;
}
  
.dessous img{
	width:60px;
}

/* MODAL */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /*Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 0 auto;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
  
@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
  
.caroussel{
	background-color: #202020;
	background-image: linear-gradient(to bottom right, #202020, #d8d8d8);
}

.caroussel img{
	width:100%;
}

.modal-body {
	padding: 10px 20px;
	color:#202020;
	border-top:3px solid #202020;
	display:flex;
	flex-direction: column;
	overflow: auto;
}

.modal-body p{
	flex-grow:1;
}

.outils{
	font-style:italic;
}

.modal-footer{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom:5px;
}

.modal-footer a,
.modal-footer a:visited{
	color:#202020;
}

/* The Close Button */

  
.close:hover,
.close:focus {
	cursor: pointer;
}

.btn-site{
	color:#202020;
	padding:5px 10px;
	border:2px solid #202020;
}
/* section contact */

#contact .parallax-window{
	position:relative;
}

.btn-contact{
	font-size:2rem;
	color:white;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -80%);
	border:2px solid;
	padding:10px;
	opacity:0.7;
}

.btn-contact a,
.btn-contact a:visited{
	color:white;
}
/* footer */
footer{
	text-align:center;
	padding:10px;
}

.symbole{
	color:#d87c7c;
	font-weight: 600;
}


