body{
	font-family: 'Open Sans', sans-serif;
	background-color:#fdfdfd;
	color:#393939;
}

header{
	margin-bottom:50px;
}

h1{
	font-size:2.5rem;
}

h2{
	color:#6e6e6e;
}

.conteneur{
	max-width:1000px;
	margin:0 auto;
}


table{
	margin:0 auto;
	border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

a{
	white-space:nowrap;
	padding:5px;
	margin:3px 0;
	-webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
}

a:hover{
	box-shadow: 5px 5px 5px #393939;
}


a,
a:visited{
	text-decoration:none;
	color:#d98026;
	padding:6px;
}


















